.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
}

.poster:hover {
  transform: scale(1.02);
}

.title {
  width: 100%;
  text-align: start;
  font-size: 17px;
  padding: 20px 0;
}

.title:hover {
  color: #b30000;
}

.subtitle {
  text-align: start;
  padding: 0 2px;
  padding-bottom: 10px;
  cursor: auto;
}
